<!-- button-panel-container -->
<div class="button-panel-container">

    <ng-container *ngFor="let filter of filters">
        <div class="button-container" (click)="filterClicked(filter)">
            <!-- Mini FAB button -->
            <button id="filter.type" [ngClass]="{'mdl-button--colored mdl-button--fab mdl-button--primary' : filter.selected}"
                class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">{{ filter.icon }}</i>
                    </button>
            <span class="icon-label">{{ filter.label }}</span>
        </div>
    </ng-container>
</div>
<!-- /.button-panel-container -->