<!-- Mini FAB button -->
<div class="right">
  <mdl-fab-menu #mainFabMenu>
    <mdl-fab-menu-item
            [fabMenu]="mainFabMenu"
            icon="note_add"
            label="new log message"
            (menu-clicked)="createLogMessage($event)">
    </mdl-fab-menu-item>
    <mdl-fab-menu-item
            [fabMenu]="mainFabMenu"
            icon="refresh"
            label="reset"
            (menu-clicked)="showReset($event)">
    </mdl-fab-menu-item>
    <mdl-fab-menu-item
            [fabMenu]="mainFabMenu"
            icon="help"
            label="about"
            (menu-clicked)="showAbout($event)">
    </mdl-fab-menu-item>
  </mdl-fab-menu>
</div>

 

